.color{
  background-color: deepskyblue;
}
body{
  background: url("../img/timg (1).jpg") no-repeat;
  background-size:cover;
}
#search{
  width: 700px;
  position: absolute;
  left: 51%;
  top: 52%;
  transform: translate(-50%);
}
#box{
  border: none;
  width: 535px;
  height: 40px;
  border: solid 1px #b8b8b8;
  border-right: none;
  font-size: 20px;
  padding-left: 5px;
}
#boxSearch{
  width: 100px;
  height: 46px;
  background-color:#317ef3;
  color: #ffffff;
  border: none;
  font-size: 16px;
  position: relative;
  left: -8px;
}
.result{
  font-size: 20px;
}
[v-cloak]{
  display: none;
}
